@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
.header1{
  margin: 0 98px
}
.title{
  font-size: 36px;
  margin-bottom: 20.54px;
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
}
.dividor{
  margin: 0 0 20.46px 0
}
